h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  transition: 0.5s;
  text-decoration: none;
  color: #199EB8;
}

a:hover {
  color: #23c2e1;
}


/* ==================================================
  Elements
  ================================================== */
.btn {
  background-color: #d79904;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #fff;
  padding: 15px 45px;
  border-radius: 50px;
}

.btn:hover {
  background-color: #c9d0b8;
  color: #000;
}

.btn:focus {
  color: #fff;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #199EB8;
}

section {
  padding: 85px 0;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
#header {
  position: sticky;
  top: 0;
  z-index: 100;
}

#logo {
  padding: 0;
  margin-left: 60%;
  max-height: 60px;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  margin: 0 0 0 30px;
}

.header-social-links a .social {

  padding-left: 8px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  color: #c9d0b8;
}

.header-social-links a .social {
  line-height: 0;
  font-size: 34px;
}

.header-social-links a .social:hover {
  color: #d79904;
}

@media (max-width: 768px) {
  .header-social-links {
    margin: 0 15px 0 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #d79904;
  background-color: #19100b;
  white-space: nowrap;
  transition: 0.3s;
}

#ntext a {
  color: #d79904;
}

#ntext a:hover {
  color: #c9d0b8;
}

.navbar-brand {
  width: 30%;
}

@media (max-width: 450px) {
  .navbar-brand {
    width: 10%;
  }
}

.navbar .navbar-collapse {
  margin-right: 20%;
}

.navbar .navbar-collapse a:hover {
  color: #c9d0b8;
}

.navbar .navbar-collapse .nav-item a:hover {
  color: #c9d0b8;
  background-color: #19100b;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  display: table;
  position: relative;
  background-image: url(../src/img/cover.jpeg);
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  width: 100%;
  height: 80vh;
}

@media (max-width: 440px) {
  .hero {
    width: 100%;
    height: 10%;
  }
}

.hero:after {
  content: "";
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hero-brand {
  margin-bottom: 75px;
  display: inline-block;
}

.hero-brand img {
  width: 200px;
}

.hero-brand:hover {
  opacity: 0.75;
}

.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: #fff;
}

.lang-bar {
  position: sticky;
  top: 0;
  z-index: 998;
}


.lang {
  position: absolute;
  top: 2vh;
  left: 90%;
  padding-left: 10px;
  z-index: 999;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .lang {
    top: 10vh;
    left: 85%;
  }
}

@media only screen and (min-width: 600px) {
  .lang {
    top: 10vh;
    left: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .lang {
    top: 10vh;
    left: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .lang {
    top: 10vh;
    left: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .lang {
    top: 0;
    left: 96%;
  }
}

button {
  background-color: transparent;
  border: 0px;
  margin-top: 10px;
  margin-right: 10px;
}

button img {
  width: 24px;
  height: 24px;
}

/*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/
.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #19100b;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
}

.about-video .content ul li {
  padding-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

.video-box {
  width: 600px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #19100b;
  padding: 0;
}

.site-footer h2,
.site-footer p {
  color: #d79904;
}

.site-footer p {
  line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
  margin-bottom: 25px;
}

.site-footer .bottom {
  background-color: #000;
  padding: 40px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
  margin: 0;
}

.site-footer .bottom .list-inline {
  position: relative;
  top: 5px;
}

.site-footer .bottom .list-inline a {
  color: #d79904;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
  color: #c9d0b8;
}

.site-footer .credits {
  color: #ddd;
}

.site-footer .credits a {
  color: #c9d0b8;
  font-weight: 800;
}

@media only screen and (max-width: 992px) {

  .copyright-text,
  .credits {
    text-align: center;
  }
}